@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80vw;
  max-width: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
select,
button {
  font: inherit;
  padding: 1rem 2rem;
}

button {
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: darkslategrey;
}
